#Andres Urango creo este gitignore

# Entorno virtual
env/
venv/

# Archivos generados por Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos generados por el editor de código
.vscode/
.idea/
*.swp

# Archivos de bases de datos locales
db.sqlite3

